h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 5px red;
    color: rgb(28, 28, 26);
  }

h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(28, 28, 26);
}

h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(28, 28, 26);
}

blockquote {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(28, 28, 26);
}

p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(28, 28, 26);
}

body {
    background-color: rgb(255, 152, 152);
  }

  img {
   height: 300px;
  }
  
  .gumb_crka {
    background-color: #4CAF50;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .vrsta0 {
      padding-top: 2px;
  }
  .vrsta1 {
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 20px;
  }
  
  .vrsta2 {
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 40px;
  }